apiVersion: apps/v1
kind: Deployment
metadata:
   name: myapp
spec:
   replicas: 1
   selector:
     matchLabels:
        app: myapp
   template:
     metadata:
        labels:
          app: myapp
     spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: myapp
          image: ghcr.io/meoha-glitch/myapp:1.2
          ports:
             - containerPort: 80
